.transparency__container {
  .transparency__container__topbar,
  .transparency__container__landing__hiddenMenu__topbar {
    width: 100%;
    padding: 25px 35px 25px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    button {
      background: transparent !important;
      outline: none;
      border: none;
      cursor: pointer;
      i {
        font-size: 30px;
        font-weight: 500;
        color: #000;
      }
    }
  }

  .transparency__container__landing__hiddenMenu__topbar {
    background: #fff;
  }

  // @section => hidden menu
  .transparency__container__landing__hiddenMenu {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    flex: 1;
    display: flex;
    width: 100%;
    height: 85%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .transparency__container__landing__hiddenMenu__items {
      list-style: none;
      height: 100%;
      width: 100%;
      padding: 0 50px;

      a {
        color: #ffff;
        text-decoration: none;
        font-size: 32px;
        line-height: 1.8;
        transition: all 0.3s ease-in-out;

        &:hover {
          border-left: 2px solid #fff;
          padding-left: 25px;
        }
      }

      &.left {
        background: #34495e;
        flex: 3;
        padding-top: 22vh;
      }

      &.right {
        background: #2c3e50;
        text-align: right;
        flex: 2;
        padding-top: 15vh;

        a {
          font-family: "Playfair Display", serif;
          font-size: 50px;
          font-weight: 700;

          &:hover {
            border-right: 2px solid #fff;
            padding-right: 25px;
          }
        }
      }
    }
  }

  // @section => landing
  .transparency__container__landing {
    z-index: 1;
    min-height: 85vh;
    width: 100%;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.52),
        rgba(0, 0, 0, 0.52)
      ),
      url("https://images.unsplash.com/photo-1593113598332-cd288d649433?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1770&q=80");
    background-size: cover;
    padding: 0 5vw;

    @media (max-width: 768px) {
      height: auto;
      padding-bottom: 120px;
    }

    h1 {
      font-size: 50px;
      font-weight: 700;
      color: #fff;
      font-family: "Playfair Display", serif;
      margin: 0 auto;
      padding-top: 24vh;
      margin-bottom: 20px;
      text-align: center;
      max-width: 70vw;

      @media (max-width: 768px) {
        font-size: 40px;
        max-width: 90vw;
      }
    }

    ul {
      margin-top: 80px;
      list-style: none;
      color: #fff;
      display: flex;
      justify-content: space-around;
      text-align: center;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }

      h3 {
        line-height: 1.7;
      }

      i {
        font-size: 45px;
      }

      p {
        margin-bottom: 50px;
        font-size: 22px;
        color: #59d057;
        font-weight: 600;

        @media (max-width: 768px) {
          margin-bottom: 30px;
        }
      }
    }
  }

  // @section => content
  .transparency__container__content {
    display: flex;
    padding: 80px 5vw;
    justify-content: space-between;
    align-items: center;
    margin-top: -2rem;

    img,
    div {
      flex: 1 1 0;
      max-width: 90%;
    }

    img {
      width: 577px;
      object-fit: contain;
    }

    @media (max-width: 992px) {
      flex-direction: column;
      align-items: center;

      img {
        margin-top: 30px;
        width: 100%;
      }
    }

    .divider {
      margin-top: 10px;
      width: 80px;
      height: 5px;
      margin-bottom: 30px;
      background: #9f1718;
    }

    p {
      line-height: 1.7;
      font-size: 18px;
      width: 90%;
    }
  }

  .tabs__title {
    margin-left: 5vw;
  }

  .tabs__divider {
    margin-top: 10px;
    width: 80px;
    height: 5px;
    margin-bottom: 30px;
    background: #9f1718;
    margin-left: 5vw;
  }
}

.causesTabs__meroTabs {
  width: max-content;
  margin: 2rem auto;

  .btn__fund {
    margin-right: 1rem;
    color: white;
    background-color: gray;

    &:hover {
      background-color: #9f1718;
    }

    &:focus {
      background-color: #9f1718;
      color: white;
    }
  }
}

.tab-pane {
  max-width: 700px;
  width: 90%;
  margin: 2rem auto 5rem;
}

.b10 {
  background-color: #9f1718;
  color: white;
  font-weight: 600;
  margin-left: 1rem;

  &:hover {
    color: white;
  }
}

.causes__container .causes__container__landing p {
  width: 90vw;
}

.jRFJkP {
  background-color: #9f1718 !important;
}

.lcUbOd {
  background-color: white !important;
  box-shadow: 0 0 1px 3px #9f1718 !important;
}
.tab-content {
  display: grid;
  grid-template-columns: auto auto;
}
.billCarousel__container {
  text-align: center;

  .sc-bdvvtL,
  .cNNJIt,
  .rec,
  .rec-arrow,
  .rec,
  .jRFJkP {
    background: transparent !important;
    box-shadow: none !important;

    &:disabled {
      cursor: not-allowed;
      background: transparent !important;
      box-shadow: none !important;
    }
  }

  .billCarousel__container__item {
    img {
      width: 300px;
      height: auto;
      object-fit: cover;
      margin-bottom: 10px;
    }
  }
}

.tarnsparenc__kind__Ko,
.transparency__cash__ko {
  width: 90%;
  margin: auto;
  padding: 3.5rem 0 0;

  h2 {
    margin-bottom: 2rem;
  }

  ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    flex-direction: column;

    hr {
      height: 1px;
      width: 100%;
    }

    @media (min-width: 992px) {
      flex-direction: row;

      hr {
        height: 70px;
        width: 1px;
      }
    }

    li {
      list-style-type: none;

      p {
        font-size: 2rem;
      }
    }
  }

  button {
    background-color: #9f1718;
    color: white;

    &:hover {
      opacity: 0.9;
      background-color: #9f1718;
    }
  }
}

.transparency__cash__ko {
  margin-bottom: 3rem;
}

.admin-expenses-ko-section {
  width: 90%;
  margin: 0 auto 3rem;

  .admin-expenses-ko-column {
    margin-top: 2rem;
  }
}
