.news {
  width: 100vw;
  //   @section => landing
  .news__container_landing {
    z-index: 1;
    height: 85vh;
    max-width: 100%;
    margin-top: -120px;
    background-image: linear-gradient(
        285.24deg,
        #d81d1d38 -13.53%,
        rgba(0, 0, 0, 0) 79.06%
      ),
      url("./6O7A9583.jpg");
    background-size: cover;
    padding: 0 5vw;

    h1 {
      font-size: 50px;
      font-weight: 700;
      color: #fff;
      font-family: "Playfair Display", serif;
      padding-top: 26vh;
      margin-bottom: 20px;
    }

    p {
      color: #fff;
      line-height: 1.7;
      font-size: 20px;
      width: 40vw;

      @media (max-width: 992px) {
        width: 70vw;
      }
    }
  }
}
