@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");

// main
.kindness-header {
  h3 {
    text-align: start;
    margin: 30px;
    font-family: "Poppins", sans-serif !important;
    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }
  // outside-card
  .kindness-hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    // inside-card
    .kindnessCard__container {
      display: flex;
      flex-wrap: wrap;
      max-width: 300px;
      max-height: 50vh;
      // max-width: 280px;
      margin-top: 60px;
      margin: 20px;

      @media (max-width: 1200px) {
        max-width: 340px;
      }

      @media (max-width: 768px) {
        max-width: 100%;
      }

      a {
        text-decoration: none;
        color: #000;
      }

      img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        margin-bottom: 10px;
      }

      .kindnessCard__container__title {
        font-weight: 600;
        margin-bottom: 10px;
        padding: 0 3px;
        font-family: "Poppins", sans-serif !important;
      }

      .kindnessCard__container__description {
        line-height: 1.5;
        padding: 0 3px;
        font-family: "Poppins", sans-serif !important;
      }
    }
  }
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
