figure {
  figCaption {
    margin-top: -30px;
    background: rgb(210, 30, 30);
    position: relative;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-decoration: underline;

    @media only screen and (max-width: 786px) {
      font-size: 1rem;
    }
  }

  :hover {
    cursor: pointer;
    color: brown;
    background-color: white;
  }
}
