.img_container {
  div {
    margin-top: -40px;
    z-index: 1;
    background: rgb(210, 30, 30);
    position: relative;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;

    :hover {
      color: rgb(210, 36, 30);
      background: white;
      cursor: zoom-in;
    }
    @media only screen and (max-width: 600px) {
      font-size: 1rem;
    }
  }
  :hover {
    cursor: zoom-in;
  }
}
