@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// @section ourwork_container
.our_work_container {
  background: #fff;
  margin: 4rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  .title {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-bottom: 30px;
    @media (max-width: 768px) {
      font-size: 40px;
    }
  }

  .our_work_act_of_kindness {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: justify;
    .kindnessContents {
      width: 50%;
      h1 {
        font-family: "Playfair Display", serif;
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 30px;
        margin-bottom: 30px;
        @media (max-width: 768px) {
          font-size: 40px;
        }
      }
      p {
        font-size: 18px;
        word-spacing: 2px;

        span {
          font-weight: bold;
          text-decoration: underline;
          color: #a52a2a;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          &:hover {
            border-left: 3px solid #a52a2a;
            padding-left: 15px;
          }
        }
      }
    }
    .kindnessImage {
      height: 400px;
      width: 400px;
      object-fit: cover;
    }
  }
  .our_work_events {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: justify;
    .eventsContents {
      width: 50%;
      h1 {
        font-family: "Playfair Display", serif;
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 30px;
        margin-bottom: 30px;
        @media (max-width: 768px) {
          font-size: 40px;
        }
      }
      p {
        font-size: 18px;
        word-spacing: 2px;
        span {
          font-weight: bold;
          text-decoration: underline;
          color: #a52a2a;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          &:hover {
            border-left: 3px solid #a52a2a;
            padding-left: 15px;
          }
        }
      }
    }
    .eventImage {
      height: 400px;
      width: 400px;
      object-fit: cover;
    }
  }
  .our_work_causes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: justify;
    .causesContents {
      width: 50%;
      h1 {
        font-family: "Playfair Display", serif;
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 30px;
        margin-bottom: 30px;
        @media (max-width: 768px) {
          font-size: 40px;
        }
      }
      p {
        font-size: 18px;
        word-spacing: 2px;

        span {
          font-weight: bold;
          text-decoration: underline;
          color: #a52a2a;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          &:hover {
            border-left: 3px solid #a52a2a;
            padding-left: 15px;
          }
        }
      }
    }
    .causesImage {
      height: 400px;
      width: 400px;
      object-fit: cover;
    }
  }
}

@media only screen and (max-width: 928px) {
  .our_work_container {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    .our_work_act_of_kindness {
      display: flex;
      justify-content: center;
      flex-wrap: wrap-reverse;
      align-items: center;
      gap: 2rem;
      text-align: justify;
      .kindnessContents {
        width: 100%;
      }
      h1 {
        font-size: 32px;
        color: #a52a2a;
      }
      .kindnessImage {
        height: 400px;
        width: 100%;
      }
    }
    .our_work_events {
      display: flex;
      justify-content: center;
      flex-wrap: wrap-reverse;
      align-items: center;
      gap: 2rem;
      text-align: justify;
      .eventsContents {
        width: 100%;
        h1 {
          font-size: 32px;
          color: #a52a2a;
        }
      }
      .eventImage {
        height: 400px;
        width: 100%;
      }
    }
    .our_work_causes {
      display: flex;
      justify-content: center;
      flex-wrap: wrap-reverse;
      align-items: center;
      gap: 2rem;
      text-align: justify;
      .causesContents {
        width: 100%;
        h1 {
          font-size: 32px;
          color: #a52a2a;
        }
      }
      .causesImage {
        height: 400px;
        width: 100%;
      }
    }
  }
}

// @section Image Cards
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin: -60px 40px 10px 40px;
  @media (max-width: 1200px) {
    margin: -60px 0px 0px 0px;
  }

  .image-container {
    width: 430px;
    height: 430px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    @media (max-width: 1200px) {
      width: 310px;
      height: 350px;
    }
    @media (max-width: 928px) {
      width: 100%;
    }

    .images {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.7s ease-in-out;
      &:hover {
        transform: scale(1.5);
        filter: brightness(0.3);
      }
    }
    .image-container-content {
      color: #fff;
      position: absolute;
      padding: 0 30px;
    }
  }
}
center {
  margin-top: -50px;
  img {
    width: 50px;
  }
  :hover {
    cursor: pointer;
  }
}
