/** @section => volunteer cards */
.news_container_cards {
  margin: 20px 4rem 60px 4rem;
  padding: 50px 20px 20px 20px;
  background-color: #e4e4e4;
  a {
    text-decoration: none;
    cursor: zoom-in;
    :hover {
      opacity: 1;
    }
  }
}
