/** @section => volunteer cards */
.news-header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100vw;
}
.row {
  display: grid;
  gap: 1.5rem;
  padding: 0px 70px 10px 70px;
  width: 100vw;

  @media (min-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 786px) {
    padding: 10px;
    width: 100%;
  }

  a {
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: underline;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.news-title {
  height: max-content;
  max-height: 65px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-description {
  line-height: 1.625;
  min-height: 50px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
